body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-nav {
    align-items: center;
}
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

    ul.ks-cboxtags li {
        display: inline;
    }

        ul.ks-cboxtags li label {
            display: inline-block;
            background-color: rgba(255, 255, 255, .9);
            border: 2px solid rgba(139, 139, 139, .3);
            color: #adadad;
            border-radius: 25px;
            white-space: nowrap;
            margin: 3px 0px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            transition: all .2s;
        }

        ul.ks-cboxtags li label {
            padding: 8px 12px;
            cursor: pointer;
        }

									ul.ks-cboxtags li label::before {
										content: "\f00d";
										display: inline-block;
										font-style: normal;
										font-variant: normal;
										text-rendering: auto;
										-webkit-font-smoothing: antialiased;
										font-family: FontAwesome;
										font-weight: 900;
										font-size: 12px;
										padding: 2px 6px 2px 2px;
										transition: transform .3s ease-in-out;
									}

					ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
						font-weight: 900;
						transform: rotate(-360deg);
						transition: transform .3s ease-in-out;
						content: "\f00c";
					}

        ul.ks-cboxtags li input[type="checkbox"]:checked + label {
            border: 2px solid #82312f;
            background-color: #D9534F;
            color: #fff;
            transition: all .2s;
        }

        ul.ks-cboxtags li input[type="checkbox"] {
            display: absolute;
        }

        ul.ks-cboxtags li input[type="checkbox"] {
            position: absolute;
            opacity: 0;
        }

            ul.ks-cboxtags li input[type="checkbox"]:focus + label {
                border: 2px solid #e9a1ff;
            }